# macOS
.DS_Store
._*

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# Editors
.idea/
.vscode/
*.swp
*.swo

# Backups created by the tool
*.backup.*

# Temporary files
*.tmp
*.temp
.tmp/
.temp/

# Logs
*.log

